.box {
    border-top: 10px solid var(--secondary-shade);
    border-bottom: 10px solid var(--secondary-shade);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px #2c2e2e;
}

.input-border {
    border: 1px solid #cacaca;
    border-radius: 6px;
    padding: 3px 8px;
    font-size: 15px;
    font-weight: 400;
}

.input-border-modal {
    border: 1px solid #cacaca;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 15px;
}

.input-select-border {
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 4px 5px;
    font-size: 13px;
}

.modal-label-name {
    color: rgba(54, 54, 54, 0.85);
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0px;
    word-spacing: 1px;
    margin-left: 5px;
    margin-bottom: 5px;
    /* box-shadow: none; */
}

.customPhone .react-tel-input .form-control {
    width: 100%;
    height: 32px;
}

.customPhone .react-tel-input .form-control:focus {
    box-shadow: 0 0 0 1px #00a3b2;
}


.dtm-button {
    background-color: var(--primary-color);
    /* font-family: 'Poppins',
        sans-serif; */
    font-weight: 600;
    font-size: 14px;
    line-height: 2em;
    letter-spacing: 0.3px;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 2px;
    border-width: 0px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 0px #000000;
    transition: ease-in-out 0.3s;
}

.dtm-button:hover {
    background-color: var(--secondary-shade);
}


.dcm-button {
    padding-left: 11px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 17.6px !important;
    /* text-transform: capitalize; */
    letter-spacing: 1px;
    word-spacing: 0.2px;
    background-color: var(--primary-color);
    background-clip: border-box;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    /* box-shadow: 2px 2px 2px 0px #626d6e; */
    display: inline-block;
    transition: ease-in-out 0.3s;
    border: 1px solid var(--primary-color);
}

.dcm-button:hover {
    background-image: linear-gradient(141deg, var(--secondary-shade) 0%, var(--secondary-shade) 100%);
    color: rgb(255, 255, 255);
}

.dcm-close-button {
    padding-left: 11px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 4px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 12px;
    line-height: 17.6px !important;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 0.2px;
    background-color: #b91c1c;
    background-clip: border-box;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    /* box-shadow: 2px 2px 2px 0px #626d6e; */
    display: inline-block;
    transition: ease-in-out 0.3s;
    border: 0.5px solid #b91c1c;
}

.dcm-close-button:hover {
    background-image: linear-gradient(141deg, #b91c1c 0%, #f87171 100%);

}

.dcm-clear-button {
    padding: 6px 4px 4px;
    /* padding-left: 11px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 4px; */
    font-family: 'Roboto',
        sans-serif;
    font-size: 12px;
    line-height: 17.6px !important;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 0.2px;
    background-clip: border-box;
    color: var(--primary-color);
    border-radius: 5px;
    border: 0.5px solid #c1c1c1;
    /* box-shadow: 2px 2px 2px 0px #626d6e; */
    display: inline-block;
    transition: ease-in-out 0.1s;
}

.dcm-clear-button:hover {
    background-image: linear-gradient(141deg, #b91c1c 0%, #b91c1c 100%);
    color: #fff;
    /* border: 0.5px solid #b91c1c; */
}

.dcm-input-button {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.2px;
    padding: 4px 12px;
    background-color: var(--primary-color);
    /* box-shadow: 2px 2px 2px 0px #626d6e; */
    border-radius: 3px;
}

.dcm-all-select-button {
    padding-left: 11px;
    padding-right: 8px;
    padding-top: 1px;
    /* padding-bottom: 2px; */
    font-family: 'Roboto',
        sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 0.2px;
    background-color: var(--primary-color);
    background-clip: border-box;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    /* box-shadow: 2px 2px 2px 0px #626d6e; */
    display: inline-block;
    transition: ease-in-out 0.3s;
    border: 1px solid var(--primary-color);
}

.dcm-all-select-button:hover {
    background-image: linear-gradient(141deg, var(--secondary-shade) 0%, var(--primary-color) 100%);
}

.dcm-input-button:hover {
    background-image: linear-gradient(141deg, var(--secondary-shade) 0%, var(--primary-color) 100%);
}

.dcm-white-button {
    padding: 7px 5px 4px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 16px;
    line-height: 17.6px !important;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 0.2px;
    color: var(--primary-color);
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    /* box-shadow: 2px 2px 2px 0px #626d6e; */
    display: inline-block;
    transition: ease-in-out 0.3s;
    border: 1px solid rgb(255, 255, 255);
}

.dcm-white-button:hover {
    color: #fff;
    background-color: var(--primary-color);

}


table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #e2e2e2;
}

th,
td {
    padding: 4px;
    text-align: left;
}